<h1>This is menu</h1>
<%= render partial: "shared/manu", locals: {title: "Menu1"} %>
<%= render partial: "shared/manu", locals: {title: "Menu2"} %>

<div>
	2 곱하기 2는 <strong><%= 2 * 2 %></strong>
	<br>
	2 곱하기 3은 <strong><%= 'hi' %></strong>
</div>

<% if 1+1 != 2 %>
	<span>Correct!</span>
<% else %>
	<span>Wrong!</span>
<% end %>

<h1>asdfasdfs</h1>
<% ["김범수", "나얼", "박효신", "이수"].each do |name| %>
	<span><%= name %></span>
<% end %>

<h1>현재 시간</h1>
<span><%= DateTime.now %></span>