<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="global-header">
      <div class="container">
        <div class="logo">
          My Profile
        </div>
        <ul class="menu">
          <a href="/">
            <li class="item">Hello World</li>
          </a>
          <%# <a href="/contact"> %>
          <%# <a href="/contacts/new"> %>
          <%= link_to new_contact_path do %>
            <li class="item">Contact</li>
          <% end %>
          <%# </a> %>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
